<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Editar Perfil</h4>
          </div>
          <div class="card-body">
            <div class="row ">
              <div class="col">
                <label>Nome:</label>
                <input matInput
                       type="text"
                       class="input"
                       placeholder="Digite seu nome"
                       [(ngModel)]="motociclista.nome">
              </div>
              <div class="col">
                <label>E-mail:</label>
                <input matInput
                       type="text"
                       class="input"
                       placeholder="Digite seu e-mail"
                       [(ngModel)]="motociclista.email">

              </div>
              <div class="col">
                <label>CPF:</label>
                <input matInput
                       lass="input"
                       placeholder=""
                       [(ngModel)]="motociclista.cpf" mask="000.000.000-00" disabled>
              </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                    id="updateProfileBtn" (click)="editar(this.motociclista)">Editar
            </button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

