.register-alternativo, .login-alternativo {
  color: red;
  padding-top: 15px;
  background-color: transparent !important;
  border: none !important;
}

.register, .login {
  margin-left: 15px
}

label {
  color: black;
  opacity: 1;
}