.register-alternativo, .login-alternativo {
    color: red;
    padding-top: 15px;
    background-color: transparent!important;
    border: none!important;
}

.register, .login {
    margin-left: 15px
}

.list{
    margin-top: 50px;
}

.btn-delete{
    border: none;
    border-radius: 5px;
}