

::ng-deep .main-panel .main-content {
  padding: 0 15px;
}

label {
  color: black;
  opacity: 1;
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

small {
  font-size: 12px;
  color: #888;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e53737;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #da1405;
}

button[type="button"] {
  font-size: 10px;
  background-color: #e53737;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #da1405;
}

.add-stop-button,
.remove-stop-button {
  cursor: pointer;
  align-content: center;
  vertical-align: middle;
}

.add-stop-button i,
.remove-stop-button i {
  font-size: 20px;
  margin-top: 5px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-fluid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.form-container {
  flex: 0 0 40%;
  padding-right: 15px;
}

.form-group {
  margin-bottom: 20px;
}

#map {
  height: 460px;
  flex: 0 0 60%;
  padding-left: 15px;
}

#form{
  margin-top: 5pc;
}

@media (max-width: 768px) {
  .form-container, #map {
    flex: 0 0 100%; /* Em telas menores, ocupam 100% da largura */
    padding: 0;
  }
}