<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="form-container">
                <h3>Planejamento de Rotas</h3>
                <form (ngSubmit)="getAddressData()">
                    <div class="form-group">
                        <label for="start-point">Ponto de partida:</label>
                        <input type="text" id="start-point" name="startPoint" [(ngModel)]="startPoint" required>
                    </div>

                    <div class="form-group">
                        <label for="end-point">Ponto de chegada:</label>
                        <input type="text" id="end-point" name="endPoint" [(ngModel)]="endPoint" required>
                    </div>

                    <div class="form-group">
                        <label for="stops">Paradas:</label>
                        <input type="text" id="stops" name="stops" [(ngModel)]="stops">
                        <small>Insira pelo menos uma parada, se tiver mais separe por barra ( , )</small>
                    </div>

                    <button type="submit">Enviar</button>
                </form>
            </div>
            <div id="map">
            </div>
        </div>
    </div>
</div>
