<div class="main-content">
  <div class="container-fluid">
    <div class="card" style="margin-bottom: -5pc">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Planejamento de Rotas</h4>
      </div>
      <div class="card-body" style="overflow-x: auto;">
        <div class="row">
          <div class="col-md-6 col-sm-12" id="form">
            <form (ngSubmit)="initMap()">
              <div class="form-group">
                <label for="start-point">Ponto de partida:</label>
                <input class="col-11" type="text" id="start-point" name="startPoint" [(ngModel)]="startPoint" required>
                <button type="button" (click)="addStop()" class="add-stop-button col-1">
                  <i class="material-icons">add</i>
                </button>
              </div>

              <div class="form-group" *ngFor="let stop of stopsList; let i = index">
                <label for="stop{{i}}">Parada {{i + 1}}:</label>
                <input class="col-11" type="text" id="stop{{i}}" name="stops" [(ngModel)]="stopsList[i].location">
                <button type="button" (click)="removeStop(i)" class="remove-stop-button col-1">
                  <i class="material-icons">delete</i>
                </button>
              </div>

              <div class="form-group">
                <label for="end-point">Ponto de chegada:</label>
                <input type="text" id="end-point" name="endPoint" [(ngModel)]="endPoint" required>
              </div>
              <button type="submit">Gerar Rota</button>
            </form>
          </div>
          <div class="col-md-6 col-sm-12">
            <div id="map">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
