<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        Sobre
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, TourMotos.
        </div>
    </div>
</footer>
